<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik+Puddles&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Faster+One&family=Rubik+Dirt&family=Rubik+Pixels&family=Rye&family=Satisfy&family=Sonsie+One&display=swap" rel="stylesheet">
</head>
<body id="ABOUT">
    
    <div class="name">
        <h1>HARSHIL KARELIYA</h1> <br>
        <h2>GRAPHIC DESIGN PORTFOLIO</h2>
    </div>
    <div class="about">

        <div class="about1">
            <div class="about2">
                <img src="/images/man.jpg" alt="">
            </div>
            <div class="about3">
                <br><h2>ABOUT ME</h2><br><br>
                <p>I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font. Feel free to drag and drop me anywhere you like on your page. I’m a great place for you to tell a story and let your users know a little more about you.</p> <br>   <br>

                <p>This is a great space to write long text about your company and your services. You can use this space to go into a little more detail about your company. Talk about your team and what services you provide. Tell your visitors the story of how you came up with the idea for your business and what makes you different from your competitors. Make your company stand out and show your visitors who you are.</p>

            </div>
        </div>
    </div>
    <div class="footer">
        <a href="/">PORTFOLIO</a>
        <a href="/about">ABOUT</a>
        <a href="/contact">CONTACT</a>
        <a href="/book">BOOK ONLINE</a>
    </div>
    
    <div class="extra">
       <br> © 2035 by Sasha Blake. Powered and secured by Wix
    </div>
</body>
</html>
