<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CONTACT</title>
    <link rel="stylesheet" href="/styles/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Rubik+Puddles&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Faster+One&family=Rubik+Dirt&family=Rubik+Pixels&family=Rye&family=Satisfy&family=Sonsie+One&display=swap" rel="stylesheet">
</head>
<body>
    
    <div class="name">
        <h1>HARSHIL KARELIYA</h1> <br>
        <h2>GRAPHIC DESIGN PORTFOLIO</h2>
    </div>

    <div class="conmain">
        <div class="I" id="contact">
            <h1>FIND US</h1>
            
            <div class="I1">
                <p>
                    500 Terry Francine Street <br> San Francisco, CA 94158 <br><br>
                    info@mysite.com <br><br>
                    Tel: 123-456-7890 <br><br><br><br>
                    OPENING HOURS: <br><br>
                    Mon - Fri: 7am - 10pm <br>
                    Saturday: 8am - 10pm <br>
                    Sunday: 8am - 11pm <br>
                </p>
            </div>
            <div class="I2">
                <form action="">
                    <label for="firstName">First Name</label><br>
                    <input type="text" id="firstName"><br><br>
                    <label for="lastName">Last Name</label><br>
                    <input type="text" id="lastName"><br><br>
                    <label for="email">Email</label><br>
                    <input type="email" id="email"><br><br>
                    <label for="subject">Subject</label><br>
                    <input type="text" id="subject"><br><br>
                    <label for="message">Message</label><br>
                    <input type="text" id="message" class="I2a"><br><br> 
                    <button>Submit</button>
                </form>
            </div>
        </div>
    </div>

    <div class="footer">
        <a href="/">PORTFOLIO</a>
        <a href="/about">ABOUT</a>
        <a href="/contact">CONTACT</a>
        <a href="/book">BOOK ONLINE</a>
    </div>
    
    <div class="extra">
        <br> © 2035 by Sasha Blake. Powered and secured by Wix
    </div>
</body>
</html>
