<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Data</title>
</head>
<body>
    <h1>Update Form</h1>
    <form action="/updatedata" method="post">
        
        <input type="number" name="id" value="<%=data.id %>" readonly>
        <input type="text" name="name" placeholder="Enter name" value="<%=data.name %>" required>
        <input type="text" name="email" placeholder="Enter Email" value="<%=data.email %>" required>
        <input type="submit">
   
    </form>
</body>
</html>